# git "https://gitlab.akkeylab.com/akkey/iOS_PDFramework.#git"
# github "nttcom/SkyWay-iOS-SDK"
# github "nttcom/SkyWay-MultiParty-iOS"
github "realm/realm-cocoa" "v2.0.3"
github "SwiftyJSON/SwiftyJSON" "v3.1.1"
github "keithito/SimpleAnimation" "0.3.0"
